<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ใบเบิกสวัสดิการค่าตรวขสุขภาพประจำปี</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <%- cssStyles %>
</head>

<body>
  <% const toThaiNumber=(num)=> {
    return String(num).replace(/\d/g, d => "๐๑๒๓๔๕๖๗๘๙"[d]);
    };
    %>
    <div class="content">
      <div class="d-flex justify-end font-14"><span class="font-semi-bold">แบบ สก.๐๒</span></div>
      <div class="d-flex justify-center font-20 pt-md">
        <span class="font-semi-bold">ใบเบิกสวัสดิการทั่วไป กองทุนสวัสดิการมหาวิทยาลัยบูรพา</span>
      </div>
      <div class="d-flex justify-center font-14 pt-sm pb-md">
        โปรดทำเครื่องหมาย / ลงในช่อง
        <input type="checkbox" id="fake" name="fake" value="fake" />
        พร้อมทั้งกรอกรายละเอียดให้ครบถ้วน
      </div>
      <table>
        <tr>
          <td>
            <div class="d-flex">
              <div class="col-7" >
                <div class="row" style="gap: 8px; flex-wrap: wrap">
                  <div class="pl-sm font-semi-bold">๑.</div>
                  <div class="col-10 wrap row pl-sm " style="gap:8px; flex-wrap: wrap; width: 90%;">
                    <div class="d-flex">
                      <span class="font-semi-bold">ข้าพเจ้า</span>
                      <span style="max-width: 180px; width: 180px;" class="<%= body?.user?.name ? 'text-dot text-center' : 'text-dot-no-value' %>">
                        <%= body?.user?.name ?? '' %>
                      </span>
                    </div>
                    <div class="col d-flex" >
                      <span class="font-semi-bold">ตำแหน่ง</span>
                      <span style="max-width: 103px; width: 103px; " class="<%= body?.user?.position ? 'text-dot text-center' : 'text-dot-no-value' %>">
                        <%= body?.user?.position ?? '' %> 
                      </span>
                    </div>
                    <div style="flex-basis: 95%" >
                      <div style="display: flex; gap: 8px; align-items: center">
                        <div  class="d-flex">
                          <span class="font-semi-bold">สังกัด ส่วนงาน</span>
                          <span style="max-width: 300px; width: 300px;" class="<%= body?.user?.department ? 'text-dot text-center' : 'text-dot-no-value' %>">
                            <%= body?.user?.department %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5" >
                <input type="checkbox" id="1" name="ข้าราชการ / ลูกจ้างประจำ" value="1" <%=body?.user?.employeeTypeId==1
                  ? "checked" : "" %>
                />
                <label  for="1"> ข้าราชการ / ลูกจ้างประจำ</label><br />
                <input type="checkbox" id="2" name="พนักงานมหาวิทยาลัย
                (สิทธิข้าราชการบำนาญ)" value="2" <%=body?.user?.employeeTypeId==2 ? "checked" : "" %> />
                <label  for="2"> พนักงานมหาวิทยาลัย (สิทธิข้าราชการบำนาญ)</label><br />
                <input type="checkbox" id="3" name="พนักงานมหาวิทยาลัย" value="3" <%=body?.user?.employeeTypeId==3
                  ? "checked" : "" %>
                />
                <label for="3">พนักงานมหาวิทยาลัย</label><br />
                <input type="checkbox" id="4" name="พนักงานมหาวิทยาลัย" value="4" <%=body?.user?.employeeTypeId==4
                  ? "checked" : "" %>
                />
                <label for="4"> พนักงานมหาวิทยาลัย</label>
              </div>
            </div>
          </td>
        </tr>
        <!-- สวัสดิการ ค่าตรวจสุขภาพประจำปี -->
        <tr>
          <td>
            <div class="row" style="gap: 8px">
              <div style="width: 100%">
                <div class="d-flex">
                  <div class=" px-sm  font-semi-bold">
                    ๒.
                  </div>
                  <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==1 ? "checked" : "" %> />
                  <span class="font-semi-bold" for="cate1">ข้าพเจ้าขอรับเงินสวัสดิการค่าตรวจสุขภาพประจำปี
                    (เท่าที่จ่ายจริงไม่เกิน ๓,๐๐๐)</span>
                </div>
                <div class="d-flex">
                  <div style="width: 5%;"></div>
                  <div style="width: 95%;">
                    <div class="row py-md px-md" style="gap: 8px">
                      <div style="flex: 1" class="px-sm d-flex">
                        จำนวนเงิน <span style="max-width: 200px; width: 200px;" class="<%= body?.categoryId==1 && body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                          <%= body?.categoryId==1 && body?.fundSumRequest ?
                            toThaiNumber(Number(body?.fundSumRequest).toLocaleString('en-US',{ minimumFractionDigits:
                            body?.fundSumRequest % 1===0 ? 0 : 2, maximumFractionDigits: 2, }))
                            : '' %>
                        </span> <span>บาท</span>
                        (<span style="max-width: 200px; width: 200px;" class="<%= body?.categoryId==1 && body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                          <%= body?.categoryId==1 && body?.fundSumRequest ? bahttext(Number(body?.fundSumRequest))
                            : '' %>
                        </span>)
                      </div>
                    </div>
                    <div class="row px-md" style="gap: 8px">
                      <div style="flex: 1">
                        <span class="px-sm font-semi-bold">๒.๑</span><span
                          class="font-semi-bold">ข้าพเจ้ามีสิทธิได้รับเงิน
                          ดังนี้</span>
                      </div>
                    </div>
                    <div class="row py-sm" style="gap: 8px; padding-left: 24px">
                      <div style="flex: 1" class="pl-md">
                        <span class="pl-md"></span>
                        <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==1 &&
                          body?.fundDecree ? "checked" : "" %> />
                        <span>
                          ได้รับเงินจากสิทธิที่เบิกได้ตามพระราชกฤษฎีกาเงินสวัสดิการเกี่ยวกับการรักษาพยาบาล
                          เป็นเงิน
                        </span>
                        <span class="<%= body?.categoryId==1 ? 'text-dot text-center' : 'text-dot-no-value text-white' %>">
                          <%= body?.categoryId==1 ? toThaiNumber(Number(body?.fundDecree ?? 0).toLocaleString('en-US',{
                            minimumFractionDigits: body?.fundDecree % 1===0 ? 0 : 2, maximumFractionDigits: 2, }))
                            : 'spa' %>
                        </span>
                        <span>บาท</span>
                      </div>
                    </div>
                    <div class="row" style="gap: 8px; padding-left: 25px">
                      <div style="flex: 1" class="pl-md">
                        <span class="pl-md"></span>
                        <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==1 &&
                          body?.fundUniversity ? "checked" : "" %> />
                        <span>
                          เบิกได้ตามประกาศสวัสดิการคณะกรรมการสวัสดิการ
                          มหาวิทยาลัยบูรพา เป็นเงิน
                        </span>
                        <span class="<%= body?.categoryId==1 ? 'text-dot text-center' : 'text-dot-no-value text-white' %>">
                          <%= body?.categoryId==1 ? toThaiNumber(Number(body?.fundUniversity ??
                            0).toLocaleString('en-US',{ minimumFractionDigits: body?.fundUniversity % 1===0 ? 0 : 2,
                            maximumFractionDigits: 2, })): 'spa' %>
                        </span>
                        <span>
                          บาท
                        </span>
                      </div>
                    </div>
                    <div class="row py-sm" style="gap: 8px; padding-left: 25px">
                      <div style="flex: 1" class="pl-md">
                        <span class="pl-md"></span>
                        <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==1 &&
                          body?.fundEligible ? "checked" : "" %> />
                        <span>ได้รับเงินจากสิทธิ</span><span class="<%= body?.categoryId==1 ? 'text-dot text-center' : 'text-dot-no-value text-white' %>"">
                          <%= body?.categoryId==1 ? body?.fundEligibleName ?? "อื่น ๆ" : 'spacing' %>
                        </span>
                        เป็นเงิน
                        <span class="<%= body?.categoryId==1 ? 'text-dot text-center' : 'text-dot-no-value text-white' %>">
                          <%= body?.categoryId==1 ? toThaiNumber(Number(body?.fundEligible ??
                            0).toLocaleString('en-US',{ minimumFractionDigits: body?.fundEligible % 1===0 ? 0 : 2,
                            maximumFractionDigits: 2, })) : 'spacing' %>
                        </span>
                        <span>บาท</span>
                      </div>
                    </div>
                    <div class="row" style="gap: 8px">
                      <span class="px-sm text-white">---</span>
                      <div style="flex: 1">
                        <span class="font-semi-bold">หลักฐานแนบ</span>
                      </div>
                    </div>
                    <div class="row py-sm" style="gap: 8px">
                      <span class="px-sm text-white">----</span>
                      <div style="flex: 1">
                        <span class="font-semi-bold">๑.ใบเสร็จรับเงิน</span>
                        <span class="px-xl font-semi-bold">๒.ใบรับรองแพทย์</span>
                      </div>
                    </div>
                    <div class="row" style="gap: 8px">
                      <span class="px-sm text-white">---</span>
                      <div style="flex: 0">
                        <span class="font-semi-bold" style="text-decoration: underline">หมายเหตุ</span>
                      </div>
                      <div style="flex: 0">๑.</div>
                      <div style="flex: 5" class="pr-sm">
                        ในกรณีผู้ปฏิบัติงานในมหาวิทยาลัยได้รับใบเสร็จรับเงินมากกว่าหนึ่งฉบับให้รวบรวมใบเสร็จรับเงินเพื่อยื่นเรื่องขอเบิกเพียง
                        ๑ ครั้งต่อปีงบประมาณ
                        หากมีการยื่นเรื่องขอเบิกแล้วจะไม่สามารถดำเนินการยื่นเรื่องเพื่อขอเพิ่มเติมได้
                      </div>
                    </div>
                    <div class="row" style="gap: 8px">
                      <span class="px-sm text-white">---</span>
                      <div style="flex: 0">
                        <span class="font-semi-bold" class="text-white"
                          style="text-decoration: underline">หมายเหตุ</span>
                      </div>
                      <div style="flex: 0">๒.</div>
                      <div style="flex: 5" class="pr-sm">
                        ในกรณีผู้ปฏิบัติงานในส่วนงานสามารถเบิกตามสิทธิอื่นได้
                        ให้เบิกจ่ายตามสิทธินั้นก่อน
                        และเบิกส่วนที่ยังขาดจากสิทธิกองทุนสวัสดิการตามประกาศนี้
                        (ทั้งนี้รวมกันแล้วต้องไม่เกินสิทธิสวัสดิการ)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <!-- สวัสดิการ (กรณีเจ็บป่วย) -->
        <tr>
          <td>
            <div class="row" style="gap: 10px">
              <div style="width: 100%">
                <div class="d-flex">
                  <div class=" px-sm  font-semi-bold">
                    ๓.
                  </div>
                  <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==3 ? "checked" : "" %> />
                  <span class="font-semi-bold" for="cate1">ข้าพเจ้าขอรับเงินสวัสดิการ (กรณีเจ็บป่วย)</span>
                </div>
                <div class="d-flex">
                  <div style="width: 5%;"></div>
                  <div style="width: 95%;">
                    <div class="row pt-md px-md" style="gap: 8px">
                      <div style="flex: 1" class="px-sm">
                        <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==3 &&
                          body?.fundEligible ? "checked" : "" %> />
                        <span>ประสบอุบัติเหตุขณะปฏิบัติหน้าที่ (จ่ายคนละไม่เกิน ๑,๐๐๐
                          บาท)</span>
                      </div>
                    </div>
                    <div class="row pl-md py-sm" style="gap: 8px">
                      <div style="flex: 1" class="pส-sm">
                        <span style="padding-left: 32px;"></span><span class="font-semi-bold">หลักฐานแนบ</span>
                      </div>
                    </div>
                    <div class="row" style="gap: 8px; padding-left: 32px">
                      <div style="flex: 1" class="pl-md d-flex">
                        <div>๑.ใบสำคัญรับเงิน</div>
                        <div class="px-xl">๒.ใบรับรองแพทย์</div>
                        <div>๓.หนังสือรับรองของหัวหน้าส่วนงาน</div>
                      </div>
                    </div>
                    <div class="row pt-sm px-md" style="gap: 8px">
                      <div style="flex: 1" class="px-sm">
                        <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==3 &&
                          body?.fundSumRequestPatientVisit ? "checked" : "" %> />
                        <span>ค่าเยี่ยมไข้ผู้ปฏิบัติงาน (กรณีเป็นผู้ป่วยใน) คนละไม่เกิน ๑,๐๐๐ บาท ต่อครั้ง ปีละไม่เกิน ๓
                          ครั้ง</span>
                      </div>
                    </div>
                    <div class="row pt-sm pl-md" style="gap: 8px">
                      <div style="flex: 1" class="pl-md">
                        <div style="display: flex; flex-direction: column; gap: 10px;" class="pl-md">
                          <% if (body.requestData && Array.isArray(body.requestData) && body?.categoryId==3 && body.requestData.length > 0) { %>
                            <% for (var i=0; i < body.requestData.length; i++) { %>
                              <div class="d-flex">
                                <input type="checkbox" id="body<%= i + 1 %>" name="body<%= i + 1 %>" value="1"
                                  <%=(body.categoryId===3 && body.requestData[i].id) ? "checked" : "" %>
                                />
                                <label class="d-flex" style="max-width: 150px; width: 150px;" for="body<%= i + 1 %>">เบิกครั้งที่
                                  <span class="text-dot text-center">
                                    <%= toThaiNumber(Number(i + 1).toLocaleString('en-US')) %>
                                  </span>
                                </label>
                                <span class="mx-sm d-flex" style="max-width: 400px; width: 400px;">เมื่อ
                                  (วัน/เดือน/ปี)
                                  <span class="text-dot text-center">
                                    <%= toThaiNumber(body.requestData[i].startDate) + " - " + toThaiNumber(body.requestData[i].endDate) %>
                                  </span>
                                </span></span>
                              </div>
                              <% } %>
                                <% } else { %>
                                  <% for (var j=1; j <=3; j++) { %>
                                    <div class="d-flex">
                                      <input type="checkbox" class="mr-sm" id="body<%= j %>" name="body<%= j %>" value="1" />
                                      <label class="d-flex" style="max-width: 150px; width: 150px;" for="body<%= j %>">เบิกครั้งที่ <span class="text-dot-no-value"></span> </label>
                                      <span class="mx-sm d-flex" style="max-width: 200px; width: 200px;">เมื่อ
                                        (วัน/เดือน/ปี)<span class="text-dot-no-value"></span></span>
                                    </div>
                                    <% } %>
                                      <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="row pl-md py-sm" style="gap: 8px">
                      <div style="flex: 1" class="pส-sm">
                        <span style="padding-left: 32px;"></span><span class="font-semi-bold">หลักฐานแนบ</span>
                      </div>
                    </div>
                    <div class="row" style="gap: 8px; padding-left: 32px">
                      <div style="flex: 1" class="pl-md d-flex">
                        <div>๑.ใบสำคัญรับเงิน</div>
                        <div class="px-xl">๒.ใบรับรองแพทย์</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <!-- สวัสดิการ ทำฟัน -->
        <tr>
          <td>
            <div class="row" style="gap: 10px">
              <div style="width: 100%">
                <div class="d-flex">
                  <div class=" px-sm  font-semi-bold">
                    ๔.
                  </div>
                  <input type="checkbox" id="cate1" name="cate1" value="1" <%=body?.categoryId==2 ? "checked" : "" %> />
                  <span class="font-semi-bold" for="cate1">ข้าพเจ้าขอรับเงินสวัสดิการค่าทำฟันเพื่อการรักษา <span
                      style="text-decoration: underline;">ยกเว้น</span>
                    ทันตกรรมเพื่อความสวยงาม <span style="font-size: 12px;">(เท่าที่จ่ายจริงไม่เกิน ๒,๐๐๐)</span>
                  </span>
                </div>
                <div class="d-flex">
                  <div style="width: 5%;"></div>
                  <div style="width: 100%;">
                    <div class="row py-sm px-md" style="gap: 8px">
                      <div class="col-12 px-sm d-flex">
                        <span>จำนวนเงิน</span>
                        <span style="max-width: 200px; width: 200px;" class="<%= body?.categoryId==2 && body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                          <%= body?.categoryId==2 && body?.fundSumRequest ?
                            toThaiNumber(Number(body?.fundSumRequest).toLocaleString('en-US',{ minimumFractionDigits:
                            body?.fundSumRequest % 1===0 ? 0 : 2, maximumFractionDigits: 2, })) : ""
                            %>
                        </span>
                        <span>บาท</span>
                        (<span style="max-width: 200px; width: 200px;" class="<%= body?.categoryId==2 && body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                          <%= body?.categoryId==2 && body?.fundSumRequest ? bahttext(Number(body?.fundSumRequest))
                            : "" %>
                        </span>)
                      </div>
                      <div class="col-12 px-sm">
                        ประวัติการเบิก
                      </div>
                    </div>
                    <div class="row pt-sm pl-md" style="gap: 8px">
                      <div style="flex: 1" class="pl-md">
                        <div style="display: flex; flex-direction: column; gap: 10px;" class="pl-md">
                          <% if (body.requestData && Array.isArray(body.requestData) && body?.categoryId==2 && body.requestData.length > 0) { %>
                            <% for (var i=0; i < body.requestData.length; i++) { %>
                              <div class="d-flex">
                                <input type="checkbox" id="body<%= i + 1 %>" name="body<%= i + 1 %>" value="1"
                                <%=(body.categoryId===2 && body.requestData[i].id) ? "checked" : "" %>
                                />
                                <label class="d-flex text-center" style="max-width: 100; width: 100px;" for="body<%= j %>">เบิกครั้งที่
                                  <span class="text-dot text-center">
                                    <%= toThaiNumber(Number(i + 1).toLocaleString('en-US')) %>
                                  </span>
                                </label>
                                <span class="mx-sm d-flex text-center" style="max-width: 220px; width: 220px;">เมื่อ
                                  (วัน/เดือน/ปี)<span class="text-dot text-center">
                                    <%= toThaiNumber(body.requestData[i].dateReceipt) %>
                                  </span></span>
                                <span class="ml-sm d-flex text-center" style="max-width: 170px; width: 170px;">จำนวนเงิน 
                                  <span class="<%= body.requestData[i].fundSumRequest ? 'text-dot text-center' : '' %>">
                                  <%= toThaiNumber(Number(body.requestData[i].fundSumRequest).toLocaleString('en-US',{
                                    minimumFractionDigits: body.requestData[i].fundSumRequest % 1===0 ? 0 : 2,
                                    maximumFractionDigits: 2, })) %>
                                </span></span></span>
                                <span>บาท</span>
                              </div>
                              <% } %>
                                <% } else { %>
                                  <% for (var j=1; j <=3; j++) { %>
                                    <div class="d-flex">
                                      <input type="checkbox" class="mr-sm" id="body<%= j %>" name="body<%= j %>" value="1" />
                                      <label class="d-flex" style="max-width: 150px; width: 150px;" for="body<%= j %>">เบิกครั้งที่ <span class="text-dot-no-value"></span> </label>
                                      <span class="mx-sm d-flex" style="max-width: 200px; width: 200px;">เมื่อ
                                        (วัน/เดือน/ปี)<span class="text-dot-no-value"></span></span>
                                      <span class="ml-sm d-flex" style="max-width: 170px; width: 170px;">จำนวนเงิน<span class="text-dot-no-value"></span></span>
                                      <span>บาท</span>
                                    </div>
                                    <% } %>
                                      <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="row pl-md py-sm" style="gap: 8px">
                      <div style="flex: 1" class="pl-sm">
                        <span style="padding-left: 32px;"></span><span class="font-semi-bold">หลักฐานที่ต้องแนบ</span>
                      </div>
                    </div>
                    <div class="row pl-md" style="gap: 8px; padding-left: 32px">
                      <div class="pl-md row d-flex" style="padding-left: 32px;">
                        <div class="col-12">๑.ใบสำคัญรับเงิน</div>
                        <div class="col-12">๒.ใบรับรองแพทย์</div>
                        <br>
                        <div class="col-12">๓.คำสั่งประโยชน์ทดแทน หรือใบยืนยันการใช้สิทธิประโยชน์ทดแทน
                          (จากเว็บประกันสังคม) (สถานะ อนุมัติ)</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- New Page -->
    <div class="page-break"></div>
    <div class="py-sm"></div>
    <div class="content">
      <table>
        <tr>
          <td>
            <div class="row" style="gap: 8px">
              <div class="px-sm text-white">--</div>
              <div style="flex: 1">
                <span class="font-semi-bold">ข้าพเจ้าขอรับรองว่า
                  ข้าพเจ้ามีสิทธิได้รับเงินตามประกาศคณะกรรมการสวัสดิการมหาวิทยาลัยบูรพา</span>
              </div>
            </div>
            <div class="row py-md" style="gap: 8px">
              <span class="px-sm text-white">๒.</span>
              <div style="flex: 1" class="d-flex">
                <span>จำนวนเงิน</span>
                <span style="max-width: 150px; width: 150px;" class="<%= body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                  <%=  toThaiNumber(Number(body?.fundSumRequest).toLocaleString('en-US',{ minimumFractionDigits:
                    body?.fundSumRequest % 1===0 ? 0 : 2, maximumFractionDigits: 2, })) %>
                </span> <span>บาท</span>
                ( <span style="max-width: 200px; width: 200px;" class="<%= body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                  <%= bahttext(Number(body?.fundSumRequest)) %>
                </span> ) จริง
              </div>
            </div>
            <div class="row px-md py-sm" style="gap: 8px; align-items: flex-end">
              <div class="col"></div>
              <div class="col row">
                <div class="col-sign2">
                  ลงชื่อ
                  <div class="text-dot-no-value" style="max-width: 170px;">
                    <img
                      src="<%- sign.result.SIGN_BASE64 %>"
                      class="sign-img"
                      alt="signature"
                      style="max-width: 120px;"
                    >
                  </div>
                  ผู้ขอรับเงินสวัสดิการ
                </div>
                <div class="col-sign2 py-sm text-center" style="padding-left: 32px; width: 100%;">
                  ( <div class="text-dot text-center" style="max-width: 80%;"><%= body?.user?.name %> </div> )
                </div>
                <div class="col-sign2 py-sm" style="padding-left: 32px;">
                  วันที่<div class="text-dot-no-value" style="max-width: 50px;"> <%= signedAt.day %> </div>เดือน <div class="text-dot-no-value" style="max-width: 50px;"><%= signedAt.month %></div> พ.ศ. <div class="text-dot-no-value" style="max-width: 50px;"><%= signedAt.year %></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row" style="gap: 8px">
              <span class="font-semi-bold px-md" class="col-12 px-md">การตรวจสอบ</span>
              <div class="col-12 px-md d-flex">
                <span class="font-semi-bold px-md">เสนอ</span>
                <span style="max-width: 100px; width: 100px;" class="text-dot text-center">
                  <%= body?.user?.positionId==2 || body?.user?.positionId==3 ? "อธิการบดี" : "คณบดี" %>
                </span>
              </div>
            </div>
            <div class="d-flex">
              <div style="width: 5%;"></div>
              <div class="row px-md py-sm" style="gap: 8px; width: 95%;">
                <div class="col-12">
                  ๑. ข้าพเจ้า ได้ตรวจสอบใบขอเบิกเงินสวัสดิการฉบับนี้แล้ว
                  ขอรับรองว่าผู้ขอเบิกสวัสดิการฯ มีสิทธิเบิกสวัสดิการฯ
                  ได้ตามประกาศ คณะกรรมการสวัสดิการ มหาวิทยาลัยบูรพา
                </div>
                <div class="col-12 pl-sm ml-sm row">
                  ๒. ผู้ขอรับสวัสดิการฯ
                  มีสิทธิเบิกตามจำนวนเงินที่ขอเบิก <div class="text-dot-no-value" style="max-width: 100px !important; width: 100px !important;"></div> บาท
                  จริง ไม่เกินอัตราที่กำหนดต่อปี
                </div>
              </div>
            </div>
            <div class="row px-md py-sm" style="gap: 8px; align-items: flex-end">
              <div class="col"></div>
              <div class="col row justify-center">
                <div class="col-sign">
                  ลงชื่อ <div class="text-dot-no-value" style="max-width: 200px;"></div>ผู้ตรวจสอบ
                </div>
                <div class="col-sign py-sm">
                  ( <div class="text-dot" style="max-width: 220px;"> </div> )
                </div>
                <div class="col-position px-md">
                  ตำแหน่ง <div class="text-dot text-center" style="width: 230px;"> นักวิชาการเงินและบัญชีชำนาญการ</div>
                </div>
                <div class="col-sign py-sm">
                  วันที่<div class="text-dot-no-value" style="max-width: 50px;"> </div>เดือน <div class="text-dot-no-value" style="max-width: 50px;"> </div> พ.ศ. <div class="text-dot-no-value" style="max-width: 50px;"> </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row" style="gap: 8px">
              <span class="font-semi-bold px-md" class="col-12 px-md">คำอนุมัติ</span>
            </div>
            <div class="d-flex py-sm" style="width: 100%;">
              <div style="width: 5%;"></div>
              <div style="width: 95%;" class="pl-md ml-md">
                <div class="pl-md ml-md"> อนุมัติเบิกจ่ายได้</div>
              </div>
            </div>
            <div class="row px-md py-sm" style="gap: 8px; align-items: flex-end">
              <div class="col"></div>
              <div class="col row justify-center">
                <div class="col-sign">
                  ลงชื่อ <div class="text-dot-no-value" style="max-width: 200px;"></div>ผู้อนุมัติ
                </div>
                <div class="col-sign py-sm">
                  ( <div class="text-dot" style="max-width: 220px;"> </div> )
                </div>
                <div class="col-sign px-md">
                  ตำแหน่ง <div class="text-dot-no-value" style="max-width: 170px;"></div>
                </div>
                <div class="col-sign py-sm">
                  วันที่<div class="text-dot-no-value" style="max-width: 50px;"> </div>เดือน <div class="text-dot-no-value" style="max-width: 50px;"> </div> พ.ศ. <div class="text-dot-no-value" style="max-width: 50px;"> </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row" style="gap: 8px">
              <span class="font-semi-bold px-md" class="col-12 px-md">ใบรับเงิน</span>
            </div>
            <div class="d-flex pb-sm" style="width: 100%;">
              <div style="width: 5%;"></div>
              <div style="width: 95%;">
                <div class="row px-md ml-md pt-md" style="gap: 8px">
                  <div class="col-12 pl-md ml-md">
                    ข้าพเจ้าได้รับเงินสวัสดิการตามประกาศคณะกรรมการสวัสดิการ
                    มหาวิทยาลัยบูรพา
                  </div>
                </div>
                <div class="row px-md ml-md pt-sm" style="gap: 8px">
                  <div style="flex: 1" class="pl-md ml-md d-flex wrap">
                      <div class="row">
                          <span>จำนวนเงิน</span>
                          <span style="max-width: 150px; width: 150px;" 
                                class="<%= body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                              <%= toThaiNumber(Number(body?.fundSumRequest).toLocaleString('en-US',{
                                  minimumFractionDigits: body?.fundSumRequest % 1 === 0 ? 0 : 2,
                                  maximumFractionDigits: 2
                              })) %>
                          </span>
                          <span>บาท</span>
                          <span>(</span>
                          <span style="max-width: 200px; width: 200px;"
                                class="<%= body?.fundSumRequest ? 'text-dot text-center' : 'text-dot-no-value' %>">
                              <%= bahttext(Number(body?.fundSumRequest)) %>
                          </span>
                          <span>)</span>
                          <span class="line-break <%= (bahttext(Number(body?.fundSumRequest)).length > 40) ? 'dynamic-line-break' : '' %>">
                            ไว้ถูกต้องแล้ว/ครบถ้วนแล้ว
                        </span>
                      </div>
                  </div>
              </div>
              </div>
            </div>
            <div class="row px-md py-md" style="gap: 8px; align-items: flex-end">
              <div class="col"></div>
              <div class="col row justify-center">
                <div class="col-sign">
                  ลงชื่อ <div class="text-dot-no-value" style="max-width: 200px;"></div>ผู้รับเงิน
                </div>
                <div class="col-sign py-sm">
                  ( <div class="text-dot" style="max-width: 220px;"> </div> )
                </div>
              </div>
            </div>
            <div class="row px-md" style="gap: 8px; align-items: flex-end">
              <div class="col"></div>
              <div class="col row justify-center">
                <div class="col-sign">
                  ลงชื่อ <div class="text-dot-no-value" style="max-width: 200px;"></div>ผู้จ่ายเงิน
                </div>
                <div class="col-sign py-sm">
                  ( <div class="text-dot" style="max-width: 220px;"> </div> )
                </div>
                <div class="col-sign py-sm">
                  วันที่<div class="text-dot-no-value" style="max-width: 50px;"> </div>เดือน <div class="text-dot-no-value" style="max-width: 50px;"> </div> พ.ศ. <div class="text-dot-no-value" style="max-width: 50px;"> </div>
                </div>
                <div class="col-sign py-sm">
                  ลงชื่อต่อเมื่อได้รับเงินแล้วเท่านั้น
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="row py-md" style="gap: 8px">
        <span class="px-md text-white">๒.</span>
        <div style="flex: 0" class="px-md">
          <span class="font-semi-bold">หมายเหตุ</span>
        </div>
        <div style="flex: 1" class="font-14">
          ๑. ผู้มีสิทธิ หมายถึง ผู้ปฏิบัติงานในมหาวิทยาลัย ตามมาตรา ๔ แห่ง
          พระราชบัญญัติมหาวิทยาลัยบูรพา
          <br>
          พ.ศ. ๒๕๕๐
        </div>
      </div>
      <div class="row" style="gap: 8px">
        <span class="px-md text-white">๒.</span>
        <div style="flex: 0" class="px-md text-white font-14">
          <span class="font-semi-bold">หมายเหตุ</span>
        </div>
        <div style="flex: 1">
          ๒. อัตรา หมายถึง อัตราตามประกาศคณะกรรมการสวัสดิการ มหาวิทยาลัยบูรพา
        </div>
      </div>
    </div>
    <!-- New Page -->
    <div class="page-break"></div>
    <div class="py-sm"></div>
    <%- receipt %>
</body>

</html>