<% const toThaiNumber=(num)=> {
  return String(num).replace(/\d/g, d => "๐๑๒๓๔๕๖๗๘๙"[d]);
  };
  %>
  <div class="content">
    <table>
      <tr>
        <td>
          <div class="d-flex justify-end py-md">(บ.๑๔)</div>
          <div class="d-flex justify-center">
            <img src="<%= path %>assets/buu_logo_thai.jpg" alt="logo-buu" width="80" height="80" />
          </div>
          <div class="d-flex justify-center">
            <div class="title-container font-20 py-md font-20">
              <span class="font-medium">ใบสำคัญรับเงิน</span>
            </div>
          </div>
          <div class="d-flex justify-end py-sm pr-sm">
            วันที่<div class="text-dot-no-value " style="max-width: 150px;"></div></span>
          </div>
          <div class="px-md py-sm d-flex">
            ข้าพเจ้าชื่อ (เขียนชื่อ-นามสกุล
            ตัวบรรจง) <span class="text-dot pr-xl pl-sm text-center"><%= body.user.name ?? '' %></span>
          </div>
          <div class="d-flex" style="width: 90%;">
            <div style="flex:1;" class="d-flex">
              อยู่บ้านเลขที่<span class="text-dot pl-sm text-center"><%= toThaiNumber(body.user.houseNumber) ?? '' %></span>
            </div>
            <div style="flex:1" class="d-flex">
              ถนน <span class="text-dot pl-sm text-center"><%= toThaiNumber(body.user.street) ?? '' %></span>
            </div>

            <div style="flex:1" class="d-flex">
              ตำบล/แขวง<span class="text-dot pl-sm text-center"><%= body.user.subDistrict ?? '.' %></span>
            </div>
          </div>
          <div class="py-sm d-flex" style="width: 90%;" >
            <div style="flex:1" class="d-flex">
              อำเภอ/เขต<span class="text-dot pl-sm text-center"><%= body.user.district ?? '' %></span>
            </div>
            <div style="flex:1" class="d-flex">
              จังหวัด<span class="text-dot pl-sm text-center"><%= body.user.province ?? '' %></span>
            </div>
            <div style="flex:1" class="d-flex">
              รหัสไปรษณีย์<span class="text-dot pl-sm text-center"><%= toThaiNumber(body.user.postalCode) ?? '' %></span>
            </div>
          </div>
          <div>
            ได้รับเงินจากมหาวิทยาลัยบูรพา ดังรายการต่อไปนี้
          </div>
        </td>
      </tr>
      <tr>
        <td style="
          padding: 0px !important;
          margin: 0px;
          border-right: 1px solid black;
        ">
          <table style="padding: 0px !important; margin: 0px">
            <tr>
              <td style="
                border: 0px solid black;
                border-right: 1px solid black;
                width: 80%;
              ">
                <div class="d-flex justify-center">รายการ</div>
              </td>
              <td style="
                border: 0px solid black;
                width: 20%;
                padding: 0px;
              ">
                <div class="d-flex justify-center" style="border-bottom: 1px solid black">
                  <div class="py-sm">จำนวนเงิน</div>
                </div>
                <div class="d-flex justify-center">
                  <div class="col py-sm" style="border-right: 1px solid black; text-align: center">
                    บาท
                  </div>
                  <div class="col-4 py-sm" style="text-align: center">
                    สตางค์
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 0px !important; margin: 0px; border: 0 !important; border-left: 1px solid black !important; border-right: 1px solid black !important; vertical-align: top; overflow: hidden;">
          <table style="padding: 0px !important; margin: 0px; height: 450px; width: 100%;">
            <tr>
              <td style="border: 0px solid black; border-right: 1px solid black; width: 80%; border-bottom: 0; height: 100%; vertical-align: top;">
                <% if (body.receiptInfo && Array.isArray(body.receiptInfo)) { %>
                  <% for (var i = 0; i < body.receiptInfo.length; i++) { %>
                    <div class="d-flex py-sm">
                      <%= body.receiptInfo[i].categoryName %> 
                    </div>
                  <% } %>
                <% } %>
              </td>
              <td style="border: 0px solid black; width: 13%; border-bottom: 0; height: 100%; vertical-align: top; border-right: 1px solid black;">
                <% if (body.receiptInfo && Array.isArray(body.receiptInfo)) { %>
                  <% for (var i = 0; i < body.receiptInfo.length; i++) { %>
                    <div class="d-flex justify-center">
                      <div class="col py-sm" style="text-align: center; vertical-align: top;">
                        <%= toThaiNumber(Number(Math.floor(body.receiptInfo[i].fundSumRequest)).toLocaleString('en-US')) %> 
                      </div>
                    </div>
                  <% } %>
                <% } %>
              </td>
              <td style="border: 0px solid black; width: 7%; border-bottom: 0; height: 100%; vertical-align: top; ">
                <% if (body.receiptInfo && Array.isArray(body.receiptInfo)) { %>
                  <% for (var i = 0; i < body.receiptInfo.length; i++) { %>
                    <div class="d-flex justify-center">
                      <div class="col py-sm" style="text-align: center; vertical-align: top;">
                        <%= ((Number(Math.round((body.receiptInfo[i].fundSumRequest - Math.floor(body.receiptInfo[i].fundSumRequest)) * 100)).toLocaleString('en-US')) != 0) 
                              ? toThaiNumber(Number(Math.round((body.receiptInfo[i].fundSumRequest - Math.floor(body.receiptInfo[i].fundSumRequest)) * 100)).toLocaleString('en-US')) : '-' %>                  
                      </div>
                    </div>
                  <% } %>
                <% } %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
              <tr>
                <td style="
          padding: 0px !important;
          margin: 0px;
          border-right: 1px solid black;
        ">
                  <table style="padding: 0px !important; margin: 0px">
                    <tr>
                      <td style="
                border: 0px solid black;
                border-right: 1px solid black;
                width: 80%;
              ">
                        <div class="d-flex justify-end">รวมเงิน</div>
                      </td>
                      <td style="
                border: 0px solid black;
                width: 20%;
                padding: 0px;
              ">
                        <div class="d-flex justify-center">
                          <div class="col py-sm" style="border-right: 1px solid black; text-align: center">
                            <%= toThaiNumber(Number(Math.floor(body.total)).toLocaleString('en-US')); %>
                          </div>
                          <div class="col-4 py-sm" style="text-align: center">
                            <%= toThaiNumber(Number(Math.round((body.total - Math.floor(body.total)) *
                              100)).toLocaleString('en-US')) %>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex pl-xl justify-center py-md">
                    <div class="row d-flex">
                      <div class="py-sm d-flex text-center" style="margin-left:14%; min-width: 60%;">
                        <span>จำนวนเงิน (ตัวอักษร)</span> 
                        <span class="px-md text-dot"><%= body.total ? bahttext(Number(body.total)): "" %></span>
                      </div>
                      <div class="col-12 py-sm d-flex justify-center">
                        (ลงชื่อ)<div class="text-dot-no-value" style="max-width: 245px !important; width: 245px !important;"></div>(ผู้รับเงิน)
                      </div>
                      <div class="col-12 py-sm d-flex justify-center">
                        (ลงชื่อ)<div class="text-dot-no-value" style="max-width: 240px !important; width: 240px !important;"></div>(ผู้จ่ายเงิน)
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
    </table>
    <div class="d-flex py-md pl-md">
      <span style="text-decoration: underline;"><span class="font-semi-bold">หมายเหตุ</span></span>
      <span
        class="pl-sm">การใช้ใบสำคัญรับเงินเป็นไปตามระเบียบมหาวิทยาลัยบูรพาว่าด้วยการจ่ายเงินและวิธีการจ่ายเงิน</span>
    </div>
    <div class="d-flex py-md pl-md">
      
    </div>
  </div>